/* TODO: add to main css */

:root {
  --background: #fff;
  --primary: #8ac44f;
  --secondary: #3e6913;
  
}

body {
  /* background-color: var(--background); */
  font-family: 'Varela Round', sans-serif;


}

.Home-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home-button {
width: 60%;
  height: 10%;
  border-radius: 10px;
  margin: 10px;
  border: none;
  background-color: var(--secondary);
  color: #fff;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}




.Home-logo {
    height: 45%;
    width:70%;
}

/* TODO: add hover effect */
