.SearchToEdit-container {
  display: flex;
  flex-direction: column;
}

.SearchToEdit-input {
  overflow: hidden;
  margin: 10px;
}

.SearchToEdit-logo {
  display: flex;
  justify-content: center;
}

.SearchToEdit-logo img {
  width: 25%;
  max-width: 500px;
}

@media only screen and (min-width: 600px) {
  .SearchToEdit-container {
    margin-top: 3%;
    align-items: center;
  }

  .SearchToEdit-input {
    width: 600px;
  }

  .SearchToEdit-logo img {
    width: 40%;
    max-width: 500px;
  }
}
