.Search-Container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Search-logo {
  display: flex;
  justify-content: center;
}

.Search-logo img{
  height: 45%;
  width: 70%;
  max-width: 500px;
}

.Search-input {
  display: flex;
  justify-content: center;
}

.Search-button {
    height: 3.5rem;
    width: 19rem;
    border-radius: 7px;
    border: none;
    background-color: var(--secondary);
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 3rem;
}

.Search-button:hover {
  background-color: var(--secondary-dark);
}


@media only screen and (min-width: 600px) {





}

